MONGO_URI=mongodb://adarshkumargupta171:4qH5KkpPO42uWZX7@ac-qpa06tl-shard-00-00.gpfzfio.mongodb.net:27017,ac-qpa06tl-shard-00-01.gpfzfio.mongodb.net:27017,ac-qpa06tl-shard-00-02.gpfzfio.mongodb.net:27017/uberRide?ssl=true&replicaSet=atlas-12g3yt-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=adarsh123
RABBITMQ_URL=amqps://kxzbyicr:a3gOI7CPJ92s7WDt2uYDoMlstZ-mh9Ql@capybara.lmq.cloudamqp.com/kxzbyicr
