MONGO_URI=mongodb://adarshkumargupta171:GFMxLduyKZhyjoVa@ac-tyr0b2w-shard-00-00.zqbujda.mongodb.net:27017,ac-tyr0b2w-shard-00-01.zqbujda.mongodb.net:27017,ac-tyr0b2w-shard-00-02.zqbujda.mongodb.net:27017/userDB?ssl=true&replicaSet=atlas-3uqjqr-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=adarsh123
RABBITMQ_URL=amqps://kxzbyicr:a3gOI7CPJ92s7WDt2uYDoMlstZ-mh9Ql@capybara.lmq.cloudamqp.com/kxzbyicr